body{
	background:gray;

}
*{
	margin: 0;
	padding: 0;
}

#main_container{
    width:1348px;
    height:654px;

}         

#head1{
    width: 290px;
    height: 118px;
    left:0px;
    top: 0px;
    position: absolute;
    background-color:royalblue; 
    text-align: center;
}
#head1 p{
	font-size:20px;
	font-family:arial;
	color:fuchsia;
	text-align:center;
	width:200px;
	margin:0 auto;
	padding:40px;
}  
#head2{
    width: 1056px;
    height: 118px;
    right:0px;
    top: 0px;
    position: absolute;
    background-color:sandybrown;
    text-align: center
}
#head2 p{
	font-size:20px;
	font-family:arial;
	color:khaki;
	text-align:center;
	width:200px;
	margin:0 auto;
	padding:40px;
}                  
#menu{
    width: 100%;
    height: 60px;
    left:0px;
    top: 120px;
    position: absolute;
    background-color:gold;
    text-align: center
}
#menu p{
	font-size:20px;
	font-family:arial;
	color:mediumseagreen;
	text-align:center;
	width:100px;
	margin:0 auto;
	padding:20px;
}                 
#Left{
    width: 290px;
    height:390px;
    left: 0px;
    top: 182px;
    position: absolute;
    background-color:gold;
    text-align: center;
	float: left;
}
#Left p{
	font-size:25px;
	font-family:arial;
	color:greenyellow;
	text-align:center;
	width:200px;
	margin:0 auto;
	padding:30px;
}
#content{
    width: 763px;
    height:390px;
    left: 293px;
    top: 182px;
    position: absolute;
    background-color:red;
    text-align: center;
	float: left;
}
#content p{
	font-size:25px;
	font-family:arial;
	color:black;
	text-align:center;
	width:400px;
	margin:0 auto;
	padding:10px;
}                 
#Right{
    width: 290px;
    height:390px;
    right: 0px;
    top: 182px;
    position: absolute;
    background-color:green;
    text-align: center;
	float: right;
}
#Right p{
	font-size:25px;
	font-family:arial;
	color:cyan;
	text-align:center;
	width:200px;
	margin:0 auto;
	padding:30px;
}                  
#footer{
    width: 1056px;
    height:80px;
    left: 0px;
    top: 574px;
    position: absolute;
    background-color:brown;
    text-align: center;
}
#footer p{
	font-size:20px;
	font-family:arial;
	color:darksalmon;
	text-align:center;
	width:400px;
	margin:0 auto;
	padding:30px;
}                    
#icon{
    width: 290px;
    height:80px;
    right: 0px;
    top: 574px;
    position: absolute;
    background-color:cornsilk;
    text-align: center;
}
#icon p{
	font-size:20px;
	font-family:arial;
	color:rosybrown;
	text-align:center;
	width:200px;
	margin:0 auto;
	padding:40px;
}  

   
    


